body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 24px;
}

section {
    text-align: center;
    justify-content: center;
    margin: 10%;
}

button {
    border: 1px solid;
    background: transparent;
    color: rgb(77, 77, 77);
    padding: 0.8em 1.2em;
    border-radius: 5px;
    margin-top: 5%;
}
